<!DOCTYPE html>

<div class="content">
    <h1>New posts:</h1>
    <div class="grid">
        {{#each comments}}
        <div class="comment">
            <h3>{{this.title}}</h3>
            <p>{{this.comment}}</p>
            <p class="author">{{this.author}}, {{this.time}}</p>
        </div>
        {{else}}
        <h1>No comments</h1>
        {{/each}}
    </div>
    <form action="/write-comment" method="get">
        <div class="button-container">
            <button type="submit">Write Comment</button>
        </div>
    </form>
</div>