<%- include('includes/main.ejs') %>
<body>
  <%- include('includes/top.ejs') %>
  <div class="content">
    <h1>New posts:</h1>
    <div>
      <% if (comments.length > 0) { %> <% comments.forEach(e => { %>
      <div class="comment">
        <a href=<%='/comment/' + e.id %>><h3><%=e.title %></h3></a>
        <!-- <h3><%=e.title %></h3> -->
        <p><%=e.comment %></p>
        <p class="author"><%=e.author + ', ' + e.time %></p>
      </div>
      <% }) %> <% } else { %>
      <h1>No comments</h1>
      <% } %>
    </div>
    <form action="/write-comment" method="get">
      <div class="button-container">
        <button type="submit">Write Comment</button>
      </div>
    </form>
  </div>
</body>
